:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.reverseButton {
  background-color: white;
  border: 1px solid rgb(125, 125, 125);
  color: black;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.scrollContainer {
  position: relative;
  width: 70%;
  box-sizing: border-box;
}

.scrollContainer_windowScroll {
  flex: none;
  overflow: visible;
}

.gridContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  box-sizing: border-box;
  justify-content: center;
}

.gridElem {
  min-width: 300px;
  min-height: 300px;
  width: calc(100% / 3);
  aspect-ratio: 1 / 1.3;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}

.gridItem {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}

.gridItem_open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.loadingBlock {
  margin-top: 10px;
  background-color: black;
  width: 100%;
  text-align: center;
}

.fackeScrollContainer {
  /* background-color: aqua; */
}

.header {
  min-height: 50%;
  background-color: #fb0303;
  width: 100%;
  margin-bottom: 50px;
  font-weight: 30px;
  text-align: center;
}

.footer {
  min-height: 100px;
  text-align: center;
  background-color: #a19b9b;
  width: 100%;
}
